$RECYCLE.BIN/
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
.DS_Store
.idea/
.sass-cache/
.tmp/
.versions/
.vscode/
.gradle/
/.sourcemaps
/build/temp
/build/typescript_util
/mmir-build.settings
/plugins/de.dfki.iui.mmir.speech.NuancePlugin/bin
/res
Thumbs.db
UserInterfaceState.xcuserstate
coverage/
dist/
log.txt
node_modules/
npm-debug.log*
platforms/
plugins/
plugins/android.json
plugins/ios.json
temp/
tmp/
www/
