page-trip {

  .scroll-content{
    padding:0 !important;
 }
 
  #map {
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
     
  }
    
  

  ion-header{
     background:#494F54;
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    
    display: flex;
   
    
    
    align-items:center ; 

}
   
   }
   .backbutton{
    padding:0;
    margin-top:0.7rem ; 
    font-size: 2rem;
      background:#494F54 !important ;  
      border-style:none !important ;
      box-shadow: none;
      color:white;
  }
  .cancel-btn{
     padding:0;
     margin-top:0.7rem ; 
     font-size: 2rem;
      background:#494F54 !important ;  
      border-style:none !important ;
      box-shadow: none;
      color:white;
      margin-left:auto ; 
  }






   .title{
    margin-top: 1rem;
    margin-left:40px;
    color:white ; 
    padding:0;
    display: block ;
   }
   .distance{
    margin-top: 1rem;
    margin-left:20px;
    margin-right:40px;
    color:white ; 
    padding:0;
   }

   ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 2em;
      height: 2em;
    }
  
    &[class*="custom-distance"] {
      mask-image: url('../../assets/images/distance_icon.png');
      background:white;
    }
  
    
  }
  .head-btn{
    size:150% ;
    font-size:20px;
  }
  .spinner{
    margin-left:160px; 
 
   
  }
  .spinner > * {
    background: white;
    
  }
  
  .modal{
   box-sizing: border-box;
  position: absolute;
  height:40%;
  width : 70%;
  background:#ecf0f1; 
  top:100px ;
  left:45px; 
  z-index: 999999999999;
  ion-card-header{
   padding:0;
   display: flex;
   flex-direction: row-reverse;
   margin-bottom: 10px;
   .goButton{margin-top:30px;} 
  
  }
  .exit-button{
    width: 40px;
    height:40px; 
   
    background: #b2bec3;
    margin-top:10px ; 
    margin-left: auto ;
    margin-right:20px; 
  
    border-radius: 50%;
 }
  
  }
