<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
	<button ion-button menuToggle color="#FFFFFF">
		<ion-icon name="menu"></ion-icon>
	  </button>
	  <ion-title>BikeRider</ion-title>
	</ion-navbar>

</ion-header>

<!-- Map -->
<ion-content>
		<!-- Searchbar -->
		
		<div class="top">

				<ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="StartupdateLocation(autocomplete.input)" [formControl]="searchControl" placeholder="search for startt" >
		 
					</ion-searchbar>
					
					<ion-list [hidden]="startAutocompleteLocations.length == 0">
						<ion-item *ngFor="let location of startAutocompleteLocations" tappable (click)="selectLocation(location)">
							{{location.display_name}}
						</ion-item>
					</ion-list>
					<ion-searchbar  [(ngModel)]="autocompleteDestination.input"   (ionInput)="EndupdateLocation(autocompleteDestination.input)"  placeholder="search for destination"></ion-searchbar>
					<ion-list [hidden]="  endAutocompleteLocations.length == 0">
						<ion-item *ngFor="let location of   endAutocompleteLocations" tappable (click)="  selectLocationDestination(location)">
							{{location.display_name}}
						</ion-item>
					</ion-list>
					<button ion-button  full  [disabled]= !isEnabled  (click)="goToProposals()" >
						Search 
						<ion-icon name="custom-gobutton" style="margin-left:5rem;"></ion-icon>
					</button>

		</div>
		
		<ion-content  >
				<div id="map">
						<div class="actionbutton actionImg">
						</div>
						<ion-icon  (click)="this.setcurrentlocation()" class="localisationButton" name="ios-locate-outline" large ></ion-icon>	
				</div>	
		</ion-content>
 
</ion-content>
