.ios, .md {
    page-home {
      .scroll {
        height: 100%;
      }
      #map {
        height: 100%;
        width: 100%;
        padding: 0;

      }
      .searchbar-md {
        padding: 8px 0px;
        width: 100%;
       
     
      }
     .ion-list{
      padding: 8px 0px;
      width: 90%;
   
     };
  
      .toolbar-title{
      color:#FFFFFF;

     }
     .actionbutton {
      background: #ffeb3b;
      right: 2%;
      top: 85%;
      position: fixed;
      z-index: 99;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border: solid 6px #ffeb3b;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: 8px;
    }
    
    .actionImg {
      background: url("../assets/content/images/ic_arrow_forward_48px.png") no-repeat #ffeb3b;
      background-position: 14px;
      background-size: 36px 36px;
    }
    
    
    }
  }