.ios, .md {
    page-home {
     
      
      .top{
        
        position:relative ;
      }
      .bar-button{
        color:yellow !important;
        display: none ;
      }
  
      
      #map {
      
        pointer-events: none;
        height: 100%;
        width: 100%;
        padding: 0;
        position:relative ; 
        .localisationButton{
          position:absolute ; 
          z-index:99999999999; 
          right:20px ;
          top:30px ; 
          font-size: 40px;
        }
      }
      
      .searchbar-md {
        padding: 8px 0px;
        width: 100%;
       
     
      }
     .ion-list{
      padding: 8px 0px;
      width: 90%;
   
     };
  
      .toolbar-title{
      color:#FFFFFF;
      display:inline;
      margin-left:70px;

     }
   
     .actionbutton {
      background: #ffeb3b;
      right: 2%;
      top: 85%;
      position: fixed;
      z-index: 99;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      border: solid 6px #ffeb3b;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: 8px;
    }
    
    
    
    
    }
  }