.ios, .md {
    page-home {
      .scroll {
        height: 100%;
      }
      #map {
        height: 100%;
        width: 100%;
      
       
      }
  
 
      ion-input{

     background-color: hsla(0, 0%, 96%, 0.678)!important;
        margin-bottom: 4px;
        position: relative;
      }
    
    }
  }