 
page-trippropals1 {
    .modal-item{
        display: flex;
        align-items:center
    }
    .route{
        width: 60px;
        height: 2px;
        margin-right:80px;
        margin-left: auto;

    }
    .bg-green{
        background:green; 
    }
    .bg-blue{
        background:blue ; 
    }
    .nav-txt{
      color:white ; 
       }
    .nav-btn{
      
      margin-right: 10px;
      size:200%
    }
    .start-btn{
        width: 150px !important;
        left:100px;
    }
    
.scroll-content{
   padding:0 !important;
}

ion-header{
     background:#494F54;
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    
    display: flex;
   
    
    
    align-items:center ; 
    .backbutton{
      padding:0;
      margin-top:0.7rem ; 
      font-size: 2rem;
        background:#494F54 !important ;  
        border-style:none !important ;
        box-shadow: none;
        color:white;
    }
}  
 .title{
    margin-top: 1rem;
    margin-left:60px;
    color:white ; 
    
}
  
    .toolbar-title{
        color:#FFFFFF;
  
       }
    .back-button{
        color:white ; 
    }
    #map {
        height: 100%;
        width: 100%;
        padding: 0;
        
        
      }
      .modal{
          box-sizing: border-box;
       
        height:50%;
        width :100vw;
        background:#ecf0f1; 
        top:500px ;
        left:-7px;
       
        

        animation-name: example;
        animation-duration: 1s;
        ion-card-header{
         padding:0;
         display: flex;
         flex-direction: row-reverse;
         margin-bottom: 10px;
         .goButton{
             height: 40px !important;
             width:100px !important;
             } 
        
        }
        
        
        }
      .display{
          visibility: hidden;
      }
      .exit-button{
         width: 40px;
         height:40px; 
        
         background: #b2bec3;
         margin-top:10px ; 
         margin-left: auto ;
         margin-right:20px; 
       
         border-radius: 50%;
      }
      .exit-button:hover{
          
          background:#636e72;
      }
  
    //   @keyframes example {
    //    0% { top:700px ;}
    //    80% {top:90px;}
    //    100%{top:150px}
    //   }
}
 